{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, is_front) }}

{% macro menu_links(items, attributes, menu_level, is_front) %}
  {% import _self as menus %}
  {% if items %}
  <div class="collapse navbar-collapse" id="mainMenu">
    {% if menu_level == 0 %}
        <ul class="nav navbar-nav pull-right">
    {% else %}
        <ul class="subMenu">
    {% endif %}

    {% for item in items %}
      <li class="primary">           
        {%
          set linkClasses = [
            menu_level == 0 ? 'firstLevel',
            item.below ? 'hasSubMenu',
            item.in_active_trail or (item.title == "Home" and is_front) ? 'active'
          ]
        %}
        <a href="{{ item.url }}" {{ item.attributes.addClass(linkClasses) }}>{{ item.title }}</a>

        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, is_front) }}
        {% endif %}
      </li>
      <li class="sep"></li>
    {% endfor %}
    </ul>

    </div>
  {% endif %}
{% endmacro %}




                       {#} <!-- Main navigation -->
                        <ul class="nav navbar-nav pull-right">                           

                            <li class="sep"></li>
                            <li class="primary"> 
                                <a href="features-neko-shortcodes.html" class="firstLevel hasSubMenu" >Features</a>
                                <ul class="subMenu">
                                    <li><a href="features-animations.html">Neko animations</a></li>
                                    <li><a href="features-neko-shortcodes.html">Neko shortcodes</a></li>
                                    <li><a href="features-footers.html">Footers</a></li>
                                    <li><a href="features-columns.html">Columns</a></li>
                                    <li><a href="features-typography.html">Typography</a></li>
                                    <li><a href="features-tables.html">Tables</a></li>
                                    <li><a href="features-buttons.html">Buttons</a></li>
                                    <li><a href="features-icons.html">Icons</a></li>
                                    <li><a href="features-tabs.html">Tabs and accordions</a></li>
                                    <li><a href="features-pagination.html">Pagination</a></li>
                                    <li><a href="features-labels.html">Labels and badges</a></li>
                                    <li><a href="features-alerts.html">Alerts</a></li>
                                    <li><a href="features-progress.html">Progress bar</a></li>
                                    <li ><a href="features-pricing.html">Pricing tables</a></li>

                                    <li class="dropdownSubmenu last">
                                        <a href="#" class="hasSubMenu">Sub menu</a>
                                        <ul class="subMenu">
                                            <li><a href="#" class="">Third level 1</a></li>
                                            <li><a href="#" class="">Third level 2</a></li>
                                            <li class="last"><a href="#" class="">Third level 3</a></li>
                                        </ul>

                                    </li>
                                </ul>
                            </li>
                            <li class="sep"></li>
                            <li class="primary">
                                <a href="template-menu-left.html" class="firstLevel hasSubMenu">Templates</a>
                                <ul class="subMenu">
                                    <li><a href="template-menu-left.html">Menu left</a></li>
                                    <li><a href="template-sidebar-right.html">Sidebar right</a></li>
                                    <li><a href="template-2-sidebars.html">2 sidebars</a></li>
                                    <li><a href="template-contact.html">Contact</a></li>
                                    <li><a href="template-full-width.html">Full width</a></li>
                                    <li><a href="template-plans.html">Our plans</a></li>
                                    <li><a href="template-about.html">About us</a></li>
                                    <li><a href="template-team.html">Our team</a></li>
                                    <li><a href="template-services.html">Services</a></li>
                                    <li><a href="template-faq.html">FAQ</a></li>
                                    <li><a href="template-404.html">404 error</a></li>
                                    <li class="last"><a href="template-site-map.html">Site map</a></li>
                                </ul>
                            </li>
                            <li class="sep"></li>
                            
                            <li class="sep"></li>
                            <li class="primary">
                                <a href="portfolio-masonery.html" class="firstLevel hasSubMenu">Portfolio</a>
                                <ul class="subMenu">
                                    <li><a href="portfolio-masonery.html" >Masonry</a></li>
                                    <li class="dropdownSubmenu">
                                        <a href="portfolio-2columns.html" class="hasSubMenu">Filterable</a>
                                        <ul class="subMenu">
                                            <li><a href="portfolio-2columns.html">2 columns</a></li>
                                            <li><a href="portfolio-3columns.html">3 columns</a></li>
                                            <li class="last"><a href="portfolio-4columns.html">4 columns</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdownSubmenu">
                                        <a href="portfolio-project-image.html" class="hasSubMenu">Single project</a>
                                        <ul class="subMenu">
                                            <li><a href="portfolio-project-image.html">Image</a></li>
                                            <li><a href="portfolio-project-carousel.html">Carousel</a></li>
                                            <li class="last"><a href="portfolio-project-video.html">Video</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdownSubmenu last">
                                        <a href="portfolio-project-fullwidth-image.html" class="hasSubMenu last">Single project full width</a>
                                        <ul class="subMenu">
                                            <li><a href="portfolio-project-fullwidth-image.html">Image</a></li>
                                            <li><a href="portfolio-project-fullwidth-carousel.html">Carousel</a></li>
                                            <li class="last"><a href="portfolio-project-fullwidth-video.html">Video</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="sep"></li>
                            <li class="primary">
                                <a href="blog-home-sidebar-right.html" class="firstLevel hasSubMenu">Blog</a>
                                <ul class="subMenu">
                                    <li><a href="blog-home-sidebar-right.html">Blog sidebar right</a></li>
                                    <li><a href="blog-home-sidebar-left.html">Blog sidebar left</a></li>
                                    <li><a href="blog-home-fullscreen.html">Blog fullscreen</a></li>
                                    <li class="last"><a href="blog-post.html" class="last">Post</a></li>
                                </ul>
                            </li>
                            <li class="sep"></li>
                            <li class="last">
                                <a href="template-contact.html" class="firstLevel last">Contact</a>
                            </li>
                            <li class="sep"></li>                                                
                        </ul>
                        <!-- End main navigation -->
                    </div>#}